body {
  font-family: sans-serif;
  background-color: blanchedalmond;
}

.ingredients-list {
  list-style: square inside;
}
ol {
  list-style: square inside;
}
ul li a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

header > img {
  width: 100px;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}


input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input:last-child {
    background: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

nav {
    display: inline-block;
}

nav ul li {
    display:  inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}

body {
    margin: 0 auto; /* Common Centering Technique */
    width: 900px;
}

section {
    width: 700px;
    display: inline-block;
    vertical-align: top;
}

.ingredients-list li {
 margin: 15px 0px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}


textarea {
  width: 350px;
}

label {
  display: block;
}
